<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
        .box {
            padding: 100px 0;
            width: 450px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <h1>Hello, Vue: ) Hihi</h1>
    <div id="app">
        <!-- attribute binding -->
        <a v-bind:href="url">Best website</a>

        <div v-if="showBooks">
            <ul>
                <li v-for="book in Books">
                    <h3>{{ book.title }}</h3>
                    <p>{{ book.author }}</p>
                </li>
            </ul>

            <!-- <button v-on:click="age++">Increase age here</button>
            <button v-on:click="age--">Decrease age here</button> -->

            <!-- <div @click="changeTitle('Iron man3')">Change Book Title</div> -->
        </div>
        <button @click="toggleshowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>
        <br>
        <!-- Mouse Events
        <div class="box" @mouseover="handleEvent ($event ,5)">mouseover (enter)</div>
        <div class="box" @mouseleave="handleEvent">mouseleave</div>
        <div class="box" @dblclick="handleEvent">doubleclick</div>
        <div class="box" @mousemove="handleMouseMove">position -{{ x }} - {{ y }}</div> -->

    </div>


    <script src="app.js"></script>
</body>

</html>